.ToolBar{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    box-sizing:border-box;
    
}
.DefaultNavItem{
    padding: 10px;
    cursor: pointer;
}
.DefaultNavItem:hover{
    background-color: white;
    color: black;    
}
.MobileOnly{
    display: none;
}

@media (max-width:600px){
    .DesktopOnly{
        display: none;
    }
    .MobileOnly{
        display: flex;
    }
}