.ToolBar{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    box-sizing:border-box;
    
}
.Icon{
    width: 2rem;
    height: 2rem;
    padding: .25rem;
}

.MobileOnly{
    display: none;
}

@media (max-width:600px){
    .DesktopOnly{
        display: none;
    }
    .MobileOnly{
        display: flex;
    }
}