.PostCard{
    text-align: left;
    overflow: hidden;
    font-size:2vw;
    cursor: pointer;
}

.FirstCard{
    grid-column: 3/1;
    font-size: 3vw;
}
.FirstCard > div > p {
    font-size: 1.1rem;
}
.FirstCard > div > h3 {
    font-size: 3rem;
} 
.FirstCard > div > address{
    font-size: 1.1rem;    
}


.PostCard:hover > div > h3 {
    color: var(--mainColor4);
}
.PostCard:hover > div> address {
   color: var(--mainColor3);
}
.PostCard:hover > div:has(img){
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.PostCard:hover >div> img {
    transform: scale(1.2);
}



@media (max-width: 600px){
    .FirstCard{
        grid-column: 1;
    }
    .FirstCard > div > p {
        font-size: 1rem;
    }
    .PostCard > div> address {
        font-size: 1rem;
     }
    .FirstCard > div > h3 {
        font-size: 2rem;
    } 
}