
.PhotoFrame{
    height: 15vw;
    width: 100%;
    overflow: hidden; 
    transition: box-shadow 0.2s ease-in-out;  
}


.CardPhoto{
    width: 100%;
    height: inherit;
    position: relative;
    z-index: -1;
    background-color: black;
    transition: transform 0.2s ease-in-out;
}

.First{
    height: 25vw;
}

@media (max-width:600px) {
    .PhotoFrame{
        height: 50vw;
    }
    .First{
        height: 50vw;
    }
}