.NavItens{
    display: flex;
    flex-flow: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
    list-style: none;
    height: 100%;
}

@media (min-width:600px){
    .NavItens{
        flex-flow: row;
    }
}