.NavItem{
    padding: .25rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.NavItem:hover{
    background-color: black;
    color: white;
}

@media(min-width:600px){
    .NavItem{
        color: white;
    }
    .NavItem:hover{
        background-color: white;
        color: black;
    }   
}